{% extends "skeleton.html" %}

{% block content %}
<div class="row">
	<div class="col-md-4">
	<div class="container">
		<p class="heading"><h3>Breakfast</h3></p>
                <ul class="list">
                        {% for item in breakfast %}
                              <li class="menu lists"><h4>{{item[0]}}</h4><h6>price: Ghc{{item[2]}}0</h6></li>
                        {% endfor %}
                </ul>

	</div>
	</div>
	<div class="col-md-4">
        <div class="container">
                <p class="heading"><h3>Salads</h3></p>
                <ul class="list">
                        {% for item in salads %}
                              <li class="menu lists"><h4>{{item[0]}}</h4><h6>price: Ghc{{item[2]}}0</h6></li>
                        {% endfor %}
                </ul>
        </div>
        </div>

	<div class="col-md-4">
        <div class="container">
                <p class="heading"><h3>Continental & Local</h3></p>
                <ul class="list">
                        {% for item in cont_loc %}
                              <li class="menu lists"><h4>{{item[0]}}</h4><h6>price: Ghc{{item[2]}}0</h6></li>
                        {% endfor %}
                </ul>

        </div>
        </div>

	<div class="col-md-4">
        <div class="container">
                <p class="heading"><h3>Local</h3></p>
                <ul class="list">
                        {% for item in local %}
                              <li class="menu lists"><h4>{{item[0]}}</h4><h6>price: Ghc{{item[2]}}0</h6></li>
                        {% endfor %}
                </ul>

        </div>
        </div>

        <div class="col-md-4">
        <div class="container">
                <p class="heading"><h3>Sauce & BBQ</h3></p>
                <ul class="list">
                        {% for item in saubbq %}
                              <li class="menu lists"><h4>{{item[0]}}</h4><h6>price: Ghc{{item[2]}}0</h6></li>
                        {% endfor %}
                </ul>

        </div>
        </div>

	
</div>
{% endblock %}
